@{
    Layout = "/Views/Layouts/_Admin.cshtml";
    ViewData["Title"] = "Chỉnh sửa từ khóa";
}
@model TagViewModel
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- /.content-header -->
    <!-- Main content -->
    <form method="post" formaction="Edit">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <input type="hidden" asp-for="Tag.Id" value="@Model.Tag.Id"/>
                        <div class="form-group">
                            <label asp-for="Tag.Name">Tên danh mục</label>
                            <input type="text" asp-for="Tag.Name" class="form-control" placeholder="Enter Tag Name" value="@Model.Tag.Name">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
    </form>
    <!-- /.content -->
</div>