@{
	Layout = "/Views/Layouts/_UIAuto.cshtml";
	ViewData["Title"] = "Home Page";

}
<section class="bg0 p-t-75 p-b-120">
	<div class="container">
		<div class="row p-b-148">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						PREMIUM COLLECTION: MERINO WOOL - LOẠI LEN THƯỢNG HẠNG BẬC NHẤT THẾ GIỚI
					</h3>

					<p class="stext-113 cl6 p-b-26">
						Với Châu Gia, các thiết kế là cộng hưởng của hơi thở truyền thống quý giá qua những họa tiết thêu tay kì công và tỉ mỉ, 
						cùng với đó là sự bay bổng về phom dáng, 
						đường xếp nếp mềm mại đầy xu hướng giúp nàng khoe nét yêu kiều một cách đầy tình tứ.
						Đặc biệt, thông qua chi tiết 'khánh' ở eo duyên dáng mang tinh hoa xưa được các nhà thiết kế gìn giữ một cách trân quý, 
						cách tân thêm logo thương hiệu đã khẳng định nét đặc trưng đậm tuyên ngôn thời trang riêng.
						Điểm nhấn của chiếc áo dài nằm ở đường cắt may tinh xảo tạo kiểu vai phồng hình bán nguyệt,
						chi tiết cut-out cùng khuy đính ngọc trai thêm vẻ sang trọng, cổ điển.
					</p>

					<p class="stext-113 cl6 p-b-26">
						Mùa Thu/Đông 2022, IVY moda không ngừng tiến bước khi trình làng các thiết kế len/jeans mang phiên bản hoàn toàn mới, 
						dẫn đầu xu hướng thông qua những chi tiết, họa tiết, chất liệu...cao cấp & thịnh hành nhất.
						Những sợi len cực mảnh với đặc tính giữ ấm, nhẹ nhàng trên từng điểm chạm làn da và có độ đàn hồi, 
						co giãn hoàn hảo mang đến cho người mặc sự thoải mái dễ chịu.
						Đặc biệt, các sản phẩm trong BST Feelin' Classy được biến hóa ngoạn mục với kỹ thuật dệt độc đáo tạo nên sự tinh tế, 
						sang trọng thể hiện qua những thiết kế cardigan, co-ords hay áo len cao cổ,...

					</p>

					
				</div>
			</div>

			<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor1 ">
					<div class="hov-img0">
						<img src="~/lib/cozastore/images/anh.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
				<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Ngọc Anh “Phố trong làng” gợi ý chị em sắm áo dạ cừu Merino chuẩn xu hướng mới nhất với style sang xịn mịn lại còn dễ phối đồ
					</h3>

					<p class="stext-113 cl6 p-b-26">
						Chiếc áo dạ với chất liệu lông cừu Merino đang là lựa chọn ưu việt nhất cho các chị em, giá thành hợp lý, giữ ấm mặc đẹp và diện cả được ở những nơi lạnh âm độ.

						Năm nay Tết đến sớm, cảm giác thời điểm cuối năm công suất phải tất bật hơn hẳn mọi năm. Mới Noel vài hôm là đã phải sắm sửa đồ đẹp cho một năm mới ấm áp và may mắn. Nàng y tá xinh đẹp Ngọc Anh của “Phố trong làng” không ngại bật mí cho hội chị em chiếc áo thần kỳ nên sắm cho tủ đồ đông. Áo dạ lông cừu với chất liệu Merino Wool - một trong ba loại len cao cấp nhất thế giới sẽ không làm ai phải thất vọng mà còn giúp tiết kiệm khối thời gian để chuẩn bị cho một năm mới đầy may mắn, thần thái sang chảnh và xinh đẹp hơn.

Kiệt tác này được các nghệ nhân đẳng cấp thực hiện tỉ mỉ và trau chuốt trong từng chi tiết, mỗi thiết kế đều được kiểm định chất lượng nghiêm ngặt với công đoạn xử lý thủ công hàng trăm giờ đồng hồ.

Vì sao Merino Wool xứng đáng được nhiều chị em yêu thích và lựa chọn cho mùa đông?
Khi xu hướng sử dụng các sản phẩm may mặc, thời trang quay về giá trị bản ngã của nó, tức chất liệu được chú trọng hàng đầu bên cạnh kiểu dáng, len cừu Merino đã được chọn lựa. Len cừu Merino Úc là kết quả của nhiều năm nghiên cứu và phát triển. Bên cạnh rất nhiều giống cừu có thể tạo lông làm len như: cừu Roughe Fell, cừu Soay, cừu Texel… thì Merino là giống cừu tốt nhất với lớp lông mềm mịn, xốp, độ dài lông phù hợp nhất cho việc sản xuất các loại sợi. Hơn thế nữa, Merino Wool là một trong top 3 chất liệu len hàng đầu thế giới, bên cạnh loại Virgin Wool (Len nguyên chất) và len Cashmere.
Kiệt tác này được các nghệ nhân đẳng cấp thực hiện tỉ mỉ và trau chuốt trong từng chi tiết, mỗi thiết kế đều được kiểm định chất lượng nghiêm ngặt với công đoạn xử lý thủ công hàng trăm giờ đồng hồ.

Vì sao Merino Wool xứng đáng được nhiều chị em yêu thích và lựa chọn cho mùa đông?
Khi xu hướng sử dụng các sản phẩm may mặc, thời trang quay về giá trị bản ngã của nó, tức chất liệu được chú trọng hàng đầu bên cạnh kiểu dáng, len cừu Merino đã được chọn lựa. Len cừu Merino Úc là kết quả của nhiều năm nghiên cứu và phát triển. Bên cạnh rất nhiều giống cừu có thể tạo lông làm len như: cừu Roughe Fell, cừu Soay, cừu Texel… thì Merino là giống cừu tốt nhất với lớp lông mềm mịn, xốp, độ dài lông phù hợp nhất cho việc sản xuất các loại sợi. Hơn thế nữa, Merino Wool là một trong top 3 chất liệu len hàng đầu thế giới, bên cạnh loại Virgin Wool (Len nguyên chất) và len Cashmere.
					</p>

				</div>
			</div>

			<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img src="~/lib/cozastore/images/anh1.png" alt="IMG">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	