@{
	Layout = "/Views/Layouts/_UIAuto.cshtml";
	ViewData["Title"] = "Home Page";

}	
@model CheckOutViewModel
<!-- breadcrumb -->
<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
			Trang Chủ
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-109 cl4">
			Giỏ Hàng
		</span>
	</div>
</div>


<!-- Shoping Cart -->
@*<form class="bg0 p-t-75 p-b-85" method="POST" enctype="multipart/form-data">*@
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
				<div class="m-l-25 m-r--38 m-lr-0-xl">
					<div class="wrap-table-shopping-cart">
						<table class="table-shopping-cart">
							<tr class="table_head">
								<th class="column-1">Product</th>
								<th class="column-2"></th>
								<th class="column-3">Price</th>
								<th class="column-4">Quantity</th>
								<th class="column-5">Total</th>
							</tr>
							<!--Cart item-->


							<!--/Cart item-->


						</table>
					</div>

					<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
						<div class="flex-w flex-m m-r-20 m-tb-5">
							<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Mã giảm giá">

							<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
								Phiếu giảm giá
							</div>
						</div>

						<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
							Cập Nhật Giỏ Hàng
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
				<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
					<h4 class="mtext-109 cl2 p-b-30">
					GIỎ HÀNG
					</h4>

					<div class="flex-w flex-t bor12 p-b-13">
						<div class="size-208">
							<span class="stext-110 cl2">
								Tạm Tính
							</span>
						</div>

						<div class="size-209">
							<span class="mtext-110 cl2 js-sub-total">
								<!--subtotal-->
							</span>
						</div>
					</div>

					<div class="flex-w flex-t bor12 p-t-15 p-b-30">
					@*<div class="size-208 w-full-ssm">
							<span class="stext-110 cl2">
								Shipping:
							</span>
						</div>*@
						<div class="payment-options">
							<h4 class="mb-2" style="display: block!important;">Phương thức thanh toán</h4>
							<span>
								<label ><input  type="radio" style="display:inline" checked>Thanh toán khi nhận
									hàng(COD)</label>
							</span>
							<span>
								<label><input name="payment_method" style="display:inline" type="radio">Thẻ tín dụng/ghi nợ(Chưa hỗ trợ)</label>
							</span>
							<span>
								<label><input name="payment_method" style="display:inline" type="radio">Thanh toán bằng PayPal(Chưa hỗ trợ)</label>
							</span>
						</div>
						<div class="size-209 p-r-18 p-r-0-sm w-full-ssm">

							<div class="p-t-15">
								<span class="stext-112 cl8">
									Calculate Shipping
								</span>

								<form id="checkOutForm">
								<div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
									 <select  name="Province" class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm">
			<option value="" selected>Tỉnh/Thành phố</option>
		</select>

		<select  class="form-select form-select-sm mb-3" name="District" id="district" aria-label=".form-select-sm">
			<option value="" selected>Quận/Huyện</option>
		</select>

		<select  class="form-select form-select-sm" name="Ward" id="ward" aria-label=".form-select-sm">
			<option value="" selected>Phường/Xã</option>
		</select>
								</div>

								<div class="bor8 bg0 m-b-12">
									<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="Address"   placeholder="Địa chỉ cụ thể *" required>
								</div>
								<div class="bor8 bg0 m-b-12">
									<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="Phone"   placeholder="Phone" required>
								</div>

								<div class="bor8 bg0 m-b-22">
									<textarea class="stext-111 cl8 plh3 size-111 p-lr-15" style="height:80px!important;"  name="Notes" type="text"  placeholder="Ghi chú đơn hàng" required></textarea>
								</div>
								</form>
								

							</div>
						</div>
					</div>

					<div class="flex-w flex-t p-t-27 p-b-33">
						<div class="size-208">
							<span class="mtext-101 cl2">
								Tổng Tiền:
							</span>
						</div>

						<div class="size-209 p-t-1">
							<span class="mtext-110 cl2 js-total">

							</span>
						</div>
					</div>

					<button id="js-submit-checkout" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
						Thanh Toán
					</button>
				</div>
			</div>
		</div>
	</div>

@*</form>*@
@section js{
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
							<script src="~/js/checkout.js"></script>

							<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
							<script src="~/js/address.js"></script>
							<script>
								 $(document).ready(function() {

									// GET BY ID
											 $("#js-submit-checkout").click(function() {
												let cartsModelRequest = JSON.parse(localStorage.getItem("carts"));
												console.log(cartsModelRequest);
															var formRequest = document.getElementById("checkOutForm")
													var formData = new FormData(formRequest);
													var data = {};

														for(var [key, val] of formData.entries()){
																data[key] = val
														}
														console.log("dataCheckOut", data)
											var inp ={
														cartsModelRequest: cartsModelRequest,
																	informationClient: data,
											};
											console.log("inp", inp)
											$.ajax({
												type: 'POST',
													url: "/checkout/Submit-form-cart",
															data: JSON.stringify(inp),
														contentType:"application/json; charset=utf-8",
													dataType: "json",
												success: function(data){
															console.log("data", data)
												},
												error: function(data){
														console.log("error", data)
												}
											});
										});
								});
							</script>
}}