@{
    Layout = "/Views/Layouts/_Admin.cshtml";
    ViewData["Title"] = "Chỉnh sửa danh mục";
}
@model CategoryViewModel
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- /.content-header -->
    <!-- Main content -->
    <form method="post" formaction="Edit">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <input type="hidden" asp-for="Category.Id" value="@Model.Category.Id"/>
                        <div class="form-group">
                            <label asp-for="Category.Name">Tên danh mục</label>
                            <input type="text" asp-for="Category.Name" class="form-control" placeholder="Enter Category Name" value="@Model.Category.Name">
                        </div>
                        <div class="form-group">
                            <label asp-for="Category.ParentId">Danh mục cha</label>
                             <select class="js-example-basic-single form-control" asp-for="Category.ParentId">
            <option value="0">--None--</option>
                                @ViewData["htmlOption"]
        </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
    </form>
    <!-- /.content -->
</div>